@font-face {
  font-family: 'mark';
  src: url(font-path("markregular-webfont.eot"));
  src: url(font-path("markregular-webfont.eot?#iefix")) format("embedded-opentype"), url(font-path("markregular-webfont.woff2")) format("woff2"), url(font-path("markregular-webfont.woff")) format("woff"), url(font-path("markregular-webfont.ttf")) format("truetype"), url(font-path("markregular-webfont.svg#markregular")) format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mark';
  src: url(font-path("markregularitalic-webfont.eot"));
  src: url(font-path("markregularitalic-webfont.eot?#iefix")) format("embedded-opentype"), url(font-path("markregularitalic-webfont.woff2")) format("woff2"), url(font-path("markregularitalic-webfont.woff")) format("woff"), url(font-path("markregularitalic-webfont.ttf")) format("truetype"), url(font-path("markregularitalic-webfont.svg#markregular")) format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'mark';
  src: url(font-path("markbold-webfont.eot"));
  src: url(font-path("markbold-webfont.eot?#iefix")) format("embedded-opentype"), url(font-path("markbold-webfont.woff2")) format("woff2"), url(font-path("markbold-webfont.woff")) format("woff"), url(font-path("markbold-webfont.ttf")) format("truetype"), url(font-path("markbold-webfont.svg#markbold")) format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'mark';
  src: url(font-path("markbold-italic-webfont.eot"));
  src: url(font-path("markbold-italic-webfont.eot?#iefix")) format("embedded-opentype"), url(font-path("markbold-italic-webfont.woff2")) format("woff2"), url(font-path("markbold-italic-webfont.woff")) format("woff"), url(font-path("markbold-italic-webfont.ttf")) format("truetype"), url(font-path("markbold-italic-webfont.svg#mark-bold-italicbold")) format("svg");
  font-weight: bold;
  font-style: italic;
}
html, body {
  font-family: "mark", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Transition all the javascript stuff */
[id^="js"],
[class^="js"] {
  transition: all 1s ease;
}

.hide {
  opacity: 0;
}

.playlists {
  list-style-type: none;
  padding-left: 0;
}

.playlist {
  text-align: left;
  margin-top: 1em;
}

header {
  background: #0087e3;
  padding: 0.25rem;
}
header h1,
header h1 a {
  font-size: 4.5rem;
  line-height: 0.5;
  color: black;
}
header h2,
header nav span,
header nav a {
  font-size: 1.5rem;
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.inner-content, header > *, .content > div {
  max-width: 60em;
  margin: 2em auto;
  padding: 0 1em;
}

h1, h2, h3 {
  text-transform: lowercase;
}

h1 {
  font-size: 2rem;
}

hr {
  margin: 0 10px;
  border: 0;
  height: 0;
  margin: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.content {
  background: #ffffff;
}

.one-third {
  width: 33%;
  float: left;
  padding: 0;
}

.two-thirds {
  width: 66%;
  float: left;
  padding: 0 2rem 0 0;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  user-select: none;
  border-radius: 500px;
  color: white;
  background: #81b900;
  padding: 6px 20px;
  margin-right: 1em;
  text-decoration: none;
}
