@font-face {
  font-family: 'mark';
  src: url("../fonts/markregular-webfont.eot");
  src: url("../fonts/markregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/markregular-webfont.woff2") format("woff2"), url("../fonts/markregular-webfont.woff") format("woff"), url("../fonts/markregular-webfont.ttf") format("truetype"), url("../fonts/markregular-webfont.svg#markregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mark';
  src: url("../fonts/markregularitalic-webfont.eot");
  src: url("../fonts/markregularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/markregularitalic-webfont.woff2") format("woff2"), url("../fonts/markregularitalic-webfont.woff") format("woff"), url("../fonts/markregularitalic-webfont.ttf") format("truetype"), url("../fonts/markregularitalic-webfont.svg#markregular") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'mark';
  src: url("../fonts/markbold-webfont.eot");
  src: url("../fonts/markbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/markbold-webfont.woff2") format("woff2"), url("../fonts/markbold-webfont.woff") format("woff"), url("../fonts/markbold-webfont.ttf") format("truetype"), url("../fonts/markbold-webfont.svg#markbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'mark';
  src: url("../fonts/markbold-italic-webfont.eot");
  src: url("../fonts/markbold-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/markbold-italic-webfont.woff2") format("woff2"), url("../fonts/markbold-italic-webfont.woff") format("woff"), url("../fonts/markbold-italic-webfont.ttf") format("truetype"), url("../fonts/markbold-italic-webfont.svg#mark-bold-italicbold") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'footable';
  src: url("../fonts/footable.eot");
  src: url("../fonts/footable.eot?#iefix") format("embedded-opentype"), url("../fonts/footable.woff") format("woff"), url("../fonts/footable.ttf") format("truetype"), url("../fonts/footable.svg#footable") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'footable';
    src: url("../fonts/footable.svg#footable") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
/*
 * Footable core styles
 */
.footable {
  width: 100%;
}

.footable.breakpoint > tbody > tr.footable-detail-show > td {
  border-bottom: none;
}

.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e001";
}

.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer;
}

.footable.breakpoint > tbody > tr > td.footable-cell-detail {
  background: #eee;
  border-top: none;
}

.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  display: inline-block;
  font-family: 'footable';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  padding-right: 5px;
  font-size: 14px;
  color: #888888;
}

.footable.breakpoint > tbody > tr > td > span.footable-toggle:before {
  content: "\e000";
}

.footable.breakpoint.toggle-circle > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e005";
}

.footable.breakpoint.toggle-circle > tbody > tr > td > span.footable-toggle:before {
  content: "\e004";
}

.footable.breakpoint.toggle-circle-filled > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e003";
}

.footable.breakpoint.toggle-circle-filled > tbody > tr > td > span.footable-toggle:before {
  content: "\e002";
}

.footable.breakpoint.toggle-square > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e007";
}

.footable.breakpoint.toggle-square > tbody > tr > td > span.footable-toggle:before {
  content: "\e006";
}

.footable.breakpoint.toggle-square-filled > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e009";
}

.footable.breakpoint.toggle-square-filled > tbody > tr > td > span.footable-toggle:before {
  content: "\e008";
}

.footable.breakpoint.toggle-arrow > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e00f";
}

.footable.breakpoint.toggle-arrow > tbody > tr > td > span.footable-toggle:before {
  content: "\e011";
}

.footable.breakpoint.toggle-arrow-small > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e013";
}

.footable.breakpoint.toggle-arrow-small > tbody > tr > td > span.footable-toggle:before {
  content: "\e015";
}

.footable.breakpoint.toggle-arrow-circle > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e01b";
}

.footable.breakpoint.toggle-arrow-circle > tbody > tr > td > span.footable-toggle:before {
  content: "\e01d";
}

.footable.breakpoint.toggle-arrow-circle-filled > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e00b";
}

.footable.breakpoint.toggle-arrow-circle-filled > tbody > tr > td > span.footable-toggle:before {
  content: "\e00d";
}

.footable.breakpoint.toggle-arrow-tiny > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e01f";
}

.footable.breakpoint.toggle-arrow-tiny > tbody > tr > td > span.footable-toggle:before {
  content: "\e021";
}

.footable.breakpoint.toggle-arrow-alt > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e017";
}

.footable.breakpoint.toggle-arrow-alt > tbody > tr > td > span.footable-toggle:before {
  content: "\e019";
}

.footable.breakpoint.toggle-medium > tbody > tr > td > span.footable-toggle {
  font-size: 18px;
}

.footable.breakpoint.toggle-large > tbody > tr > td > span.footable-toggle {
  font-size: 24px;
}

.footable > thead > tr > th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.footable > thead > tr > th.footable-sortable:hover {
  cursor: pointer;
}

.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator:before {
  content: "\e013";
}

.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator:before {
  content: "\e012";
}

.footable > thead > tr > th > span.footable-sort-indicator {
  display: inline-block;
  font-family: 'footable';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  padding-left: 5px;
}

.footable > thead > tr > th > span.footable-sort-indicator:before {
  content: "\e022";
}

.footable > tfoot .pagination {
  margin: 0;
}

.footable.no-paging .hide-if-no-paging {
  display: none;
}

.footable-row-detail-inner {
  display: table;
}

.footable-row-detail-row {
  display: table-row;
  line-height: 1.5em;
}

.footable-row-detail-group {
  display: block;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: bold;
}

.footable-row-detail-name {
  display: table-cell;
  font-weight: bold;
  padding-right: 0.5em;
}

.footable-row-detail-value {
  display: table-cell;
}

.footable-odd {
  background-color: #f7f7f7;
}

html, body {
  font-family: "mark", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Transition all the javascript stuff */
[id^="js"],
[class^="js"] {
  transition: all 1s ease;
}

.hide {
  opacity: 0;
}

.playlists {
  list-style-type: none;
  padding-left: 0;
}

.save-playlist {
  float: right;
}
.save-playlist span {
  margin-right: 10px;
}
.save-playlist input {
  height: 31px;
  margin-right: 10px;
}

.playlist {
  text-align: left;
  margin-top: 1em;
  border-collapse: collapse;
}
.playlist thead tr {
  border-bottom: 1px #333333 solid;
}
.playlist tr:nth-child(even) {
  background: #eeeeee;
}
.playlist td {
  padding: 2px;
}

header {
  background: #0087e3;
  padding: 0.25rem;
}
header h1,
header h1 a {
  font-size: 4.5rem;
  line-height: 0.5;
  color: black;
}
header h2,
header nav span,
header nav a {
  font-size: 1.5rem;
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.inner-content, header > *, .content > div {
  max-width: 60em;
  margin: 2em auto;
  padding: 0 1em;
}

h1, h2, h3 {
  text-transform: lowercase;
}

h1 {
  font-size: 2rem;
}

hr {
  margin: 0 10px;
  border: 0;
  height: 0;
  margin: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.content {
  background: #ffffff;
}

.one-third {
  width: 33%;
  float: left;
  padding: 0;
}

.two-thirds {
  width: 66%;
  float: left;
  padding: 0 2rem 0 0;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  user-select: none;
  border-radius: 500px;
  color: white;
  background: #81b900;
  padding: 6px 20px;
  margin-right: 1em;
  text-decoration: none;
}
