doctype html
html
  head
    block title
      if page
        title Universal Playlist Manager Prototype - #{page}
      else
        title Universal Playlist Manager Prototype

    link(rel='stylesheet', href='styles/main.css')

  body
    header
      div
        h1 upm
        h2 a universal playlist manager to organize your cloud-based music libraries

    section.content
      div
        block content

    script(type='text/javascript', src='js/main.js')
