doctype html
html
  head
    block title
      if page
        title Universal Playlist Manager Prototype - #{page}
      else
        title Universal Playlist Manager Prototype

    link(rel='stylesheet', href='styles/main.css')

  body
    header
      div
        h1 <a href="/">upm</a>
        h2 a universal playlist manager to organize your cloud-based music libraries

    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js')

    section.content
      div
        block content
